# docker commands I use for running
instance/database.db
/app/docker_commands.txt

# Ignore pycache unnecessary
# */__pycache__/*
*.db
__pycache__/
instance/
errors.txt
.venv
.vscode
.pytest_cache
.env